body {
    padding: 25px;
    background-color: white;
    color:black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
    margin: 0;
    height: 100%;
  }
  
  .hidden {
    display: none;
  }