body {
    padding: 25px;
    background-color: white;
    color:black;
    font-size: 25px;
}

.button {
  color: #a33420;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
}
.dark-mode {
    background-color: black;
    color: white;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    fill: black;
    
  }
  
  .hidden {
    display: none;
  }

  .button {
    color: #a33420;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}